*{
    padding: 0%;
    margin: 0%;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: rgb(26, 26, 26);
    padding: 4vw;
    display: flex;
    gap: 2em;
    flex-direction: column;
}
h1{
    font-size: 3em;
    color: white;
}
a{
    color:  rgb(62, 107, 255);
    font-size: small;
}
h4{
    color: white;
}
hr{
    color: rgb(125, 125, 125);
}