*{
    padding: 0%;
    margin: 0%;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: rgb(26, 26, 26);
    width: 100vw;
    height: 100vh;
}
#form-div{
    width: 100vw;
    height: 30vh;
    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 80vw;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    color: white;
}
form input{
    display: block;
    padding:1vw;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 5px;
    width: 80vw;
    color: white;
}
form textarea{
    display: block;
    padding: 1vh;
    width: 80vw;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 5px;
    color: white;
}
form button{
    background-color: rgb(23, 77, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2vh;
    width: 100px;
}

#task {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#card{
    height: auto;
    white-space: no-wrap;
    border-radius: 5px;
    width: auto;
    padding: 2vh;
    color: white;
    background-color: rgb(52, 52, 52);

}

#card a{
    color: rgb(96, 154, 255);
}
#task h1{
    color: rgb(37, 37, 37);
    font-size: 7vw;
}
.deletebutton{
    cursor: pointer;
    color: rgb(232, 232, 232);
    background-color: transparent;
    border: none;
    font-size: medium;
    text-align: end;
    width: auto;
}
#formtwo{
    width: auto;
    height: auto;
    display: flex;
    text-decoration: row;
    align-content: start;
}
#div{
    display: flex;
    align-items: center;
    justify-content: center;
}